<%- model_class = Task -%>
<%= form_tag destroy_multiple_tasks_path do %>

<div class="page-header col-md-offset-4 ">
  <h1 >Completed tasks</h1>
</div>
<div class="container">
    <div class="row col-md-7 col-md-offset-2 custyle">
    <table class="table table-striped custab">

    <thead>
        <tr>
            <th>Check</th>
            <th><%=sortable "name"%></th>
            <th>Duedate</th>
            <th><%=sortable "priority"%></th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
          <%  @tasks_completed.each do |task| %>
            <tr>
                <td><%= check_box_tag 'tasks_id[]', task.id, true %></td>
                <td><%= task.name %></td>
                <td ><%= task.duedate %></td>
                <td><%= task.priority %></td>
                <td>
                    <%= link_to '' , uncomplete_task_path(task), :class => 'fa fa-refresh fa-2x'. :title => 'Make active again' %>
                    <%= link_to "", task_path(task), :class => 'fa fa-eye fa-2x', :title => 'Show task' %>
                    <%= link_to '',
                      task_path(task),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'fa fa-trash fa-2x', :title => 'Delete task' %>
                </td>
            </tr>


         <% end %>  
    </table>
    
    
    </div>
  </div>
</div>
<%= render 'buttons' %> 
<% end %>
